<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mark Attendance - <%= user.name %></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


    <!-- React cdn ---->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- jQuery cdn -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style media="screen">
      nav li{
        padding: 10px 20px;
      }

      nav{
        border-bottom: solid 0.2px lightgrey;
      }

      #students{
        border-bottom: solid 0.4px lightgrey;
      }

      #students .col-1{
        border-right: solid 0.4px lightgrey;
      }

      #students button{
        margin-top: 18px;
        border-radius: 10px;
      }

      #studentList{
        width: 50%;
      }

      .attendanceButtonN{
        background: #E74C3C;
        border-radius: 4px;
        color: white;
        font-family: Calibri;
        border: solid 2px #E74C3C;
        outline: none;
      }

      .attendanceButtonY{
        background: #2E86C1;
        border-radius: 4px;
        color: white;
        font-family: Calibri;
        border: solid 2px #2E86C1;
        outline: none;
      }

      @media only screen and (max-width: 700px){
        #studentList{
          width: 100%;
        }
      }

    </style>
</head>

<body class="text-center" style="color: rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-xl text-center navigation-clean" style="font-family: Basic, sans-serif;">
        <div class="container">
          <a class="navbar-brand" href="/faculty-profile" style="font-size: 30px;"><%= user.name %></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Doubt session</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/faculty-profile">Classroom</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 90px; font-family: Calibri;" id="studentList">
      <% if(allStudents.length != 0){ %>
        <h1 style="text-align: left;">The students of class <%= allStudents[0].class %> are </h1> <br>
        <ul class="list-group">
          <% for(var i = 0; i<allStudents.length; i++){ %>
            <li class="list-group-item" id=<%= allStudents[i]._id %> >
              <span style="float: left;"><%= i+1 %>.</span>
              <span id="name"><%= allStudents[i].name %></span>
              <button type="button" style="float: right;" onclick = "handleAttendance()" class="attendanceButtonN">A</button>
            </li>
          <% } %>
        </ul>
      <% } else{ %>
        <h1 style="text-align: center; font-family: Calibri; margin-top: 90px;">No class selected. Please select the class.</h1>
      <% } %>
    </div>

    <div class="container" style="margin-top: 40px; margin-bottom: 100px;">
      <a href="/mark-attendance" style="text-decoration: none;">
        <button type="button" class="btn btn-primary" style="margin-top: 20px;">Select another class</button>
      </a>
      <% if(allStudents.length != 0){ %>
        <a href="/faculty-profile" style="text-decoration: none;">
          <button type="button" class="btn btn-success" style="margin-top: 20px;">Submit Attendance</button>
        </a>
      <% } %>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>

    <script type="text/javascript">

      //function for changing color and text of button
      function handleAttendance(){
        var parentOfEvent = event.target.parentElement;
        var parentId = parentOfEvent.id;

        if(event.target.className == 'attendanceButtonN'){
          event.target.className = 'attendanceButtonY';
          event.target.innerHTML = 'P';

          var attendanceObject = {
            id: parentId,
            attendanceStatus: 'P'
          }
          event.preventDefault();
          $(document).ready(function(){
            $.post('/mark-attendance-class', attendanceObject, function(){
              console.log('marked present')
            })
          })
        }
        else{
          event.target.className = 'attendanceButtonN';
          event.target.innerHTML = 'A';

          var attendanceObject = {
            id: parentId,
            attendanceStatus: 'A'
          }
          event.preventDefault();
          $(document).ready(function(){
            $.post('/mark-attendance-class', attendanceObject, function(){
              console.log('marked absent')
            })
          })
        }
      }
    </script>

    <script type="text/javascript">
      //handling sending data to server

      $(document).ready(function(){

      })
    </script>

    <script type="text/babel">
      /*class App extends React.Component{
        state = {
          data: [],
          id: 0,
          intervalIsSet: false,
          message: null,
          percentPresent: 0,
          totalPresent: 0
        };

        componentDidMount() {
          this.getDataFromDb();
          if (!this.state.intervalIsSet) {
            let interval = setInterval(this.getDataFromDb, 1000);
            this.setState({ intervalIsSet: interval });
          }
        }

        componentWillUnmount() {
          if (this.state.intervalIsSet) {
            clearInterval(this.state.intervalIsSet);
            this.setState({ intervalIsSet: null });
          }
        }

        getDataFromDb = () => {
          fetch("http://localhost:3000/getClassStudent")
            .then(data => data.json())
            .then(res => this.setState({ data: res.data }));
        };

        handleColorChange = (e) =>{
          if(e.target.innerHTML == 'A'){
            e.target.className = "btn btn-success";
            e.target.innerHTML = "P";
            var len = this.state.data.length;
            var total = this.state.totalPresent + 1;
            var totalPercent = total/len;
            this.setState({
              percentPresent: totalPercent,
              totalPresent: total
            })
          }
          else{
            e.target.className = "btn btn-danger";
            e.target.innerHTML = "A";
            var len = this.state.data.length;
            var total = this.state.totalPresent - 1;
            var totalPercent = total/len;
            this.setState({
              percentPresent: totalPercent,
              totalPresent: total
            })
          }
        }

        render(){
          var students = this.state.data;
          var i = 0;
          var studentsList = students.map(student => {
            i++;
            return(
              <div className = "row" id = "students" key = {student._id}>
                <div className = "col-1">
                  <p className = "lead">{i}</p>
                </div>
                <div className = "col-7">
                  <p className = "lead">{student.name}</p>
                </div>
                <div className = "col-2">
                  <button className = "btn btn-danger" id="check-button" type = "submit" onClick = {this.handleColorChange}>A</button>
                </div>
              </div>
            )
          })
          return(
            <div className = "App">
              <h1 id = "attendance-heading">Here is the list of Class</h1>
              <p className = "lead" id = "percentage-present">Percentage Present : {this.state.percentPresent*100}%</p>
              <br />
              {studentsList}
            </div>
          )
        }
      }

      ReactDOM.render(<App />, document.getElementById('root'));*/
    </script>
  </body>

</html>
