<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= user.name %></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- jQuery cdn -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style media="screen">
      h1, h3{
        font-family: 'Montserrat', sans-serif;
      }
      nav li{
        padding: 10px 20px;
      }

      nav{
        border-bottom: solid 0.2px lightgrey;
        box-shadow: 0 0 10px lightgrey;
      }

      #question_section{
        padding: 30px;
      }

      #questions_block{
        border-radius: 5px;
        border: solid 0.5px lightgrey;
        overflow: auto;
        padding: 10px 30px;
      }

      #submitButton{
        border-radius: 4px;
        background: #0E7CC6;
        border: solid 1px #0E7CC6;
        color: white;
        font-family: Calibri;
        font-size: 18px;
        padding: 4px 15px;
      }

      #submitButton:hover{
        cursor: pointer;
        background: #1C90DE;
        border: solid 1px #1C90DE;
        transition: all 0.4s;
      }

      .firstChar{
        border-radius: 20px;
        padding: 1px 9px;
        background: #E74C3C;
        color: white;
        box-shadow: 1px 0 2px grey;
      }

      /* sidenav CSS -----------*/
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        /*left: 0;*/
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        font-family: Basic, sans-serif;
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 23px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      /* ---------------sidenav CSS ends --------*/

      #classmatesList li:hover{
        cursor: pointer;
      }
    </style>
</head>

<body class="text-center" style="color: black;">
    <nav class="navbar navbar-light navbar-expand-xl text-center navigation-clean" style="font-family: Basic, sans-serif;">
        <div class="container">
          <a class="navbar-brand" href="/profile" style="font-size: 30px; margin-left: 10px;"><%= user.name %></a>
          <div class="" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/profile-details">My Details</a>
      <a class="nav-link active" href="/profile" style="color: white;">Classroom</a>
      <a class="nav-link" href="#">Ask a doubt</a>
      <a class="nav-link" href="#">Attendance</a>
      <a class="nav-link" href="#">Assignments</a>
      <a class="nav-link" href="/myMessages">Messages</a>
      <a class="nav-link" href="/logout">Logout</a>
    </div>

    <div class="container" style="margin: 58px auto; font-family: Basic, sans-serif;">
        <div class="row">

            <div class="col-lg-8" style="margin-right: 5px;margin-left: 6px; margin-top: 50px; font-family: Calibri;">
                <h1>Questions of the day.</h1>
                <p class="lead" style="color: #0E7CC6;">Note: You get 2 marks for each question + You get a single chance to answer
                  a question. Once submitted, it is locked.
                </p>
                <div style="height: 500px;margin-top: 52px;margin-bottom: 25px; text-align: left;" id="questions_block">

                  <% for(var i = 0; i<questions.length; i++){ %>
                    <% if(questions[i].id == 'Simple Question'){ %>
                      <div class="question_section">
                        <div class = "row">
                          <div class = "col-md-4">
                            Subject: <span id="subject"><%= questions[i].subject %></span>
                          </div>
                          <div class = "col-md-4">
                            Status:
                            <% if(questions[i].qstatus == 'Not Done'){ %>
                              <span id="qStatus" style="color: #0E7CC6;">Not Done</span>
                            <% } else if(questions[i].qstatus == 'Correct'){ %>
                              <span id="qStatus" style="color: green;">Correct</span>
                            <% } else { %>
                              <span id="qStatus" style="color: red;">Wrong</span>
                            <% } %>
                          </div>
                          <div class = "col-md-4"></div>
                        </div>
                        <p class="lead"><strong>Q <%= i + 1 %>.
                          <span id="question"><%= questions[i].question %></span> </strong>
                        </p>
                        <form class="" id = <%= questions[i]._id %> onSubmit = "checkAns()">
                          <label for="myanswer" style="color: #0E7CC6;">Enter Your Answer - </label>
                          <input type="text" name="myanswer" class="form-control" required>
                          <br>
                          <button type="submit" id="submitButton">Submit</button>
                        </form>
                        <hr />
                      </div>
                    <% } else{ %>
                      <div class="question_section">
                        <div class = "row">
                          <div class = "col-sm-4">
                            Subject: <span id="subject"><%= questions[i].subject %></span>
                          </div>
                          <div class = "col-sm-4">
                            Status:
                            <% if(questions[i].qstatus == 'Not Done'){ %>
                              <span id="qStatus" style="color: #0E7CC6;">Not Done</span>
                            <% } else if(questions[i].qstatus == 'Correct'){ %>
                              <span id="qStatus" style="color: green;">Correct</span>
                            <% } else { %>
                              <span id="qStatus" style="color: red;">Wrong</span>
                            <% } %>
                          </div>
                          <div class = "col-sm-4"></div>
                        </div>
                        <p class="lead"><strong>Q. <%= i + 1 %>
                          <span id="question"><%= questions[i].question %></span> </strong>
                        </p>
                        <span id="option1">a) <%= questions[i].option_1 %></span><br>
                        <span id="option2">b) <%= questions[i].option_2 %></span><br>
                        <span id="option3">c) <%= questions[i].option_3 %></span><br>
                        <span id="option4">d) <%= questions[i].option_4 %></span><br><br>
                        <form class="" id = <%= questions[i]._id %> onSubmit = "checkAns()">
                          <label for="myanswer" style="color: #0E7CC6;">Enter Your Answer - </label>
                          <input type="text" name="myanswer" class="form-control" required><br>
                          <button type="submit" id="submitButton">Submit</button>
                        </form>
                        <hr />
                      </div>
                    <% } %>
                  <% } %>

                </div>
            </div>
            <div class="col" style="font-family: Basic, sans-serif; margin-top: 50px;">
                <h3 style="color: rgb(0,0,0);margin-bottom: 22px;">Your Classmates <br>(Class <%= user.class %>)</h3>
                <ul class="list-group" style="margin-top: 50px;" id="classmatesList">
                <% for(var i = 0; i<classmates.length; i++){ %>

                    <% if(classmates[i].email == user.email){ %>
                      <li class="list-group-item" style="background: lightgrey;">
                        <span style="float: left;" class="firstChar">
                          <%= classmates[i].name[0] %>
                        </span>
                        <span style="text-align: center;" class="classmateName">
                          <%= classmates[i].name %>
                        </span>
                      </li>
                    <% } else{ %>
                      <li class="list-group-item">
                        <span style="float: left;" class="firstChar">
                          <%= classmates[i].name[0] %>
                        </span>
                        <span style="float: center;" class="classmateName">
                            <%= classmates[i].name %>
                        </span>
                      </li>
                    <% } %>

                <% } %>
                </ul>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>

    <script type="text/javascript">
      var questions = <%- JSON.stringify(questions) %> ;
      var classmates = <%- JSON.stringify(classmates) %> ;

      function checkAns(){
        event.preventDefault();
        event.target.myanswer.setAttribute("readonly", "");

        var answerStatus = null;
        var eventID = event.target.id;
        var subject = event.target.parentElement.querySelector('#subject').innerHTML;

        //alert(event.target.parentElement.querySelector('#qStatus').innerHTML);
        var qStatus = event.target.parentElement.querySelector('#qStatus');

        for(var i = 0; i<questions.length; i++){
          if(event.target.id == questions[i]._id){
            if(event.target.myanswer.value == questions[i].answer){
              //alert('Correct')
              answerStatus = 'Correct';
              break;
            }
            else{
              //alert('Wrong')
              answerStatus = 'Wrong';
              break;
            }
          }
        }

        if(answerStatus == 'Correct'){
          qStatus.innerHTML = 'Correct';
          qStatus.style.color = 'green';
        }
        else{
          qStatus.innerHTML = 'Wrong';
          qStatus.style.color = 'red';
        }

        //sending answer of question
        $(document).ready(function(){

          var ansObject = {
            qId: eventID,
            subject: subject,
            answer: answerStatus
          };

          $.post("/submitAnswer", ansObject, function(){
            //alert(answerStatus)
          });

        });
      }

    </script>

    <script>
      //nav script
      function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
</body>

</html>
