<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= user.name %>'s details</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">

    <style media="screen">
      nav li{
        padding: 10px 20px;
      }

      nav{
        border-bottom: solid 0.2px lightgrey;
        box-shadow: 0 0 10px lightgrey;
      }

      /* sidenav CSS -----------*/
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        /*left: 0;*/
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        font-family: Basic, sans-serif;
        text-align: center;
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 23px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      /* ---------------sidenav CSS ends --------*/

    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-xl text-center navigation-clean" style="font-family: Basic, sans-serif;">
        <div class="container">
          <a class="navbar-brand" href="/profile" style="font-size: 30px; margin-left: 10px;"><%= user.name %></a>
          <div class="" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/profile-details" style="color: white;">My Details</a>
      <a class="nav-link active" href="/profile">Classroom</a>
      <a class="nav-link" href="#">Ask a doubt</a>
      <a class="nav-link" href="#">Attendance</a>
      <a class="nav-link" href="#">Assignments</a>
      <a class="nav-link" href="/myMessages">Messages</a>
      <a class="nav-link" href="/logout">Logout</a>
    </div>

    <div style="margin: 73px auto;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-4 text-center"><img class="img-fluid shadow-lg" src="assets/img/1.jpg">
                    <h3 class="text-center" style="margin-top: 29px;font-family: Basic, sans-serif;"><%= user.name %></h3>
                    <p class="lead text-center" style="font-family: Basic, sans-serif;font-size: 18px;margin-top: 9px;">Class of <%= user.class %></p>
                    <p class="text-left" style="margin-bottom: 0px;font-family: Basic, sans-serif;"><strong>Subject Taken:</strong></p>
                    <p class="text-left" style="margin-top: 10px;margin-bottom: 0px;font-family: Basic, sans-serif;"><strong>Email ID:</strong> <%= user.email %></p>
                    <p class="text-left" style="margin-top: 10px;margin-bottom: 0px;font-family: Basic, sans-serif;"><strong>Faculties:</strong></p>
                    <p class="text-left" style="margin-top: 10px;margin-bottom: 0px;font-family: Basic, sans-serif;"><strong>Phone Number:</strong> <%= user.phone %></p>
                    <p class="text-left" style="margin-top: 10px;margin-bottom: 0px;font-family: Basic, sans-serif;"><strong>Age:</strong> <%= user.age %> years</p>
                    <p class="text-left" style="margin-top: 10px;margin-bottom: 0px;font-family: Basic, sans-serif;"><strong>Gender:</strong> <%= user.gender %> </p>
                    <p class="text-left" style="margin-top: 10px;margin-bottom: 0px;font-family: Basic, sans-serif;"><strong>Address:</strong> <%= user.address %></p>
                </div>
                <div class="col-md-7 col-lg-8"></div>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>

    <script>
      //nav script
      function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
</body>

</html>
