<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= user.name %></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    <style media="screen">
      nav li{
        padding: 10px 20px;
      }

      nav{
        border-bottom: solid 0.2px lightgrey;
      }

      #question_section{
        padding: 30px;
      }

      #questions_block{
        border-radius: 5px;
        border: solid 0.5px lightgrey;
        overflow: auto;
        padding: 10px 30px;
      }

    </style>
</head>

<body class="text-center" style="color: rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-xl text-center navigation-clean" style="font-family: Basic, sans-serif;">
        <div class="container">
          <a class="navbar-brand" href="/profile" style="font-size: 30px;"><%= user.name %></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/profile-details">My Details</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" href="/profile">Classroom</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 58px; font-family: Basic, sans-serif;">
        <div class="row">
            <div class="col">
              <ul class="list-group">
                <li class="list-group-item">
                  <span>
                    <a href="#" style="text-decoration: none;">Ask a doubt</a>
                  </span>
                </li>
                <li class="list-group-item">
                  <span>
                    <a href="#" style="text-decoration: none;">Attendance</a>
                  </span>
                </li>
                <li class="list-group-item">
                  <span>
                    <a href="#" style="text-decoration: none;">Assignments</a>
                  </span>
                </li>
                <li class="list-group-item">
                  <span>
                    <a href="/myMessages" style="text-decoration: none;">Messages</a>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-lg-6" style="margin-right: 5px;margin-left: 6px; font-family: Calibri;">
                <h1>Questions of the day.</h1>
                <p class="lead">Note: You get 2 marks for each question.</p>
                <div style="height: 500px;margin-top: 52px;margin-bottom: 25px; text-align: left;" id="questions_block">
                  <% for(var i = 0; i<questions.length; i++){ %>
                    <% if(questions[i].id == 'Simple Question'){ %>
                      <div class="question_section">
                        <div class = "row">
                          <div class = "col-md-4">
                            <p class = "lead">Subject:
                              <span id="subject"><%= questions[i].subject %></span>
                            </p>
                          </div>
                          <div class = "col-md-4"></div>
                          <div class = "col-md-4"></div>
                        </div>
                        <p class="lead"><strong>Q <%= i + 1 %>. </strong>
                          <span id="question"><%= questions[i].question %></span>
                        </p>
                        <form class="" id = <%= questions[i]._id %> onSubmit = "checkAns()">
                          <label for="myanswer">Enter Your Answer - </label>
                          <input type="text" name="myanswer" class="form-control" required><br>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <hr />
                      </div>
                    <% } else{ %>
                      <div class="question_section">
                        <div class = "row">
                          <div class = "col-sm-4">
                            <p class = "lead">Subject: <%= questions[i].subject %></p>
                          </div>
                          <div class = "col-sm-4"></div>
                          <div class = "col-sm-4"></div>
                        </div>
                        <p class="lead"><strong>Q. <%= i + 1 %></strong>
                          <span id="question"><%= questions[i].question %></span>
                        </p>
                        <span>a) <%= questions[i].option_1 %></span><br>
                        <span>b) <%= questions[i].option_2 %></span><br>
                        <span>c) <%= questions[i].option_3 %></span><br>
                        <span>d) <%= questions[i].option_4 %></span><br><br>
                        <form class="" id = <%= questions[i]._id %> onSubmit = "checkAns()">
                          <label for="myanswer">Enter Your Answer - </label>
                          <input type="text" name="myanswer" class="form-control" required><br>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <hr />
                      </div>
                    <% } %>
                  <% } %>

                </div>
            </div>
            <div class="col" style="font-family: Basic, sans-serif;">
                <h3 style="color: rgb(0,0,0);margin-bottom: 22px;">Your Classmates <br>(Class <%= user.class %>)</h3>
                <ul class="list-group">
                <% for(var i = 0; i<classmates.length; i++){ %>

                    <% if(classmates[i].email == user.email){ %>
                      <li class="list-group-item" style="background: lightgrey;">
                        <span>
                          <%= classmates[i].name %>
                        </span>
                      </li>
                    <% } else{ %>
                      <li class="list-group-item">
                        <span>
                          <%= classmates[i].name %>
                        </span>
                      </li>
                    <% } %>

                <% } %>
                </ul>
            </div>
        </div>
    </div>

    <footer style="margin-top: 73px;">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i>
                          </span>
                        </li>
                        <li class="list-inline-item">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i>
                          </span>
                        </li>
                        <li class="list-inline-item">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse" data-bs-hover-animate="tada"></i>
                          </span>
                        </li>
                    </ul>
                    <p class="lead text-muted copyright" style="font-size: 19px;">Copyright&nbsp;©&nbsp;Tutors 2019, Created by <a href="https://saurabh-portfolio.herokuapp.com" style="text-decoration: none;">Saurabh Panchal</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/clean-blog.js"></script>

    <script type="text/javascript">
      var questions = <%- JSON.stringify(questions) %> ;

      function checkAns(){
        event.preventDefault();
        for(var i = 0; i<questions.length; i++){
          if(event.target.id == questions[i]._id){
            if(event.target.myanswer.value == questions[i].answer){
              alert('Correct')
            }
            else{
              alert('Not Correct')
            }
          }
        }
      }
    </script>
</body>

</html>
